#ggl_map_container {
  position: relative;
}

#ggl_map {
  height: 80vh;
  min-height: 500px;
  width: 100%;
}

#ggl_map *:focus {
  box-shadow: none;
}

#ggl_map .gm-style .gm-style-iw-c:focus {
  box-shadow: 0 2px 7px 1px rgba(0,0,0,.3);
}

#ggl_map .gm-style-iw {
  margin: 0;
  padding: 0;
  border-radius: 0;
}



#ggl_map .gm-style-iw-d div {
  padding: .5rem;
}

#ggl_map .gm-style-iw button.gm-ui-hover-effect{
  z-index: 99;
}

#ggl_map .gm-style-iw-c {
  height: unset !important;
}

#ggl_map .gm-style-iw-d {
  overflow: unset !important;
  max-height: unset !important;
}
