<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#array">render array</a></li>
  <li><a data-toggle="tab" href="#js">map_trigger.js</a></li>
</ul>
<div class="tab-content">
  <div id="array" class="tab-pane fade in active">
    <pre>
[
  "#theme" => "ggl_map",
  '#collection' => [
    [
      'name' => 'single_map',
      'url' => '/modules/custom/ggl_map/examples/data/single_collection.json',
    ],
  ],
  <strong>'#attached' => [
    'library' => [
      'ggl_map_examples/map_trigger'
    ],
  ],</strong>
]
    </pre>
  </div>
  <div id="js" class="tab-pane fade in">
    <pre>
(function ($, Drupal, drupalSettings) {
  'use strict';

  /**
   * @namespace
   */
  Drupal.mapTrigger = Drupal.mapTrigger || {};

  /**
   * Drupal behavior.
   */
  Drupal.behaviors.mapTrigger = {
    attach: function (context, drupalSettings) {
      if (!Drupal.mapTrigger.attached) {
        Drupal.mapTrigger.attached = true;
        $(window).on({
          'gglMap:afterOpenPopup': function gglMapAfterOpenPopup(event, marker) {
            alert('popup for marker "' + marker.data.id + '" opened');
          },
          'gglMap:afterClosePopup': function gglMapAfterClosePopup(event, marker) {
            alert('popup for marker "' + marker.data.id + '" close');
          },
        });
      }
    }
  }

})(jQuery, Drupal, drupalSettings);
    </pre>
  </div>
</div>
<hr>
<p>In this example a JS is executed when a marker popup is opens or closes.</p>

<div class="ggl-map-example">
  {{ ggl_map }}
</div>
