<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#array">render array</a></li>
  <li><a data-toggle="tab" href="#link">Link rendering</a></li>
  <li><a data-toggle="tab" href="#ajax">AJAX controller</a></li>
</ul>
<div class="tab-content">
  <div id="array" class="tab-pane fade in active">
    <pre>
[
  '#theme' => 'map_ajax',
  '#ggl_map' => [
    "#theme" => "ggl_map",
    '#collection' => [
      [
        'id' => 'single_map',
        'url' => '/modules/custom/ggl_map/examples/data/single_collection.json',
      ],
    ],
  ],
  '#switchMarker1ToRed' => $this->switchToRed('marker_1'),
  '#switchMarker2ToRed' => $this->switchToRed('marker_2'),
  '#switchMarker3ToRed' => $this->switchToRed('marker_3'),
  '#attached' => [
    'library' => [
      'ggl_map_examples/map',
    ],
  ],
];
    </pre>
  </div>
  <div id="link" class="tab-pane fade in">
    <pre>
&lt;?php
namespace Drupal\ggl_map_examples\Plugin\Block;

use Drupal\Core\Block\BlockBase;
use Drupal\Core\Link;
use Drupal\Core\Url;
...

class MapAjax extends BlockBase implements ContainerFactoryPluginInterface {

  ...

  private function switchToRed($markerId) {
    $url = Url::fromRoute('ggl_map_examples.map_ajax_switch_to_red', ['markerId' => $markerId]);
    $url->setOptions([
      'attributes' => [
        'class' => [
          'use-ajax',
        ],
      ],
    ]);
    return new Link('Switch "' . $markerId. '" to red', $url);
  }

}
    </pre>
  </div>
  <hr>
  <div id="ajax" class="tab-pane fade in">
    <pre>
&lt?php
namespace Drupal\ggl_map_examples\Controller;

use Drupal\Core\Ajax\AjaxResponse;
use Drupal\Core\Controller\ControllerBase;
use Drupal\ggl_map\Ajax\UpdateMarkerIconCommand;

class GglMapExamplesController extends ControllerBase {

  public function mapAjaxSwitchToRed($markerId) {
    $response = new AjaxResponse();
    $response->addCommand(new UpdateMarkerIconCommand($markerId, '/modules/custom/ggl_map/examples/images/marker_red.svg'));

    return $response;
  }

}
    </pre>
  </div>
</div>

<ul>
  <li>{{ switchMarker1ToRed }}</li>
  <li>{{ switchMarker2ToRed }}</li>
  <li>{{ switchMarker3ToRed }}</li>
</ul>

<div class="ggl-map-example">
  {{ ggl_map }}
</div>
