<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#array">render array</a></li>
</ul>
<div class="tab-content">
  <div id="array" class="tab-pane fade in active">
    <pre>
[
  "#theme" => "ggl_map",
  <strong>'#overrideSettings' => [
    'cluster' => [
      'enableClustering' => TRUE,
    ],
  ],</strong>
  '#collection' => [
    [
      'name' => 'multi_map_1',
      'url' => '/modules/custom/ggl_map/examples/data/multi_collection_1.json',
      'icon' => [
        'url' => '/modules/custom/ggl_map/examples/images/marker_red.svg',
      ],
    ],
    [
      'name' => 'multi_map_2',
      'url' => '/modules/custom/ggl_map/examples/data/multi_collection_2.json',
      'icon' => [
        'url' => '/modules/custom/ggl_map/examples/images/marker_blue.svg',
      ],
    ],
  ],
]
    </pre>
  </div>
</div>
<hr>
<div class="ggl-map-example">
  {{ ggl_map }}
</div>
