<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#array">render array</a></li>
  <li><a data-toggle="tab" href="#json1">multi_collection_1.json</a></li>
  <li><a data-toggle="tab" href="#json2">multi_collection_2.json</a></li>
</ul>
<div class="tab-content">
  <div id="array" class="tab-pane fade in active">
    <pre>
[
  "#theme" => "ggl_map",
  <strong>'#collection' => [
    [
      'name' => 'multi_map_1',
      'url' => '/modules/custom/ggl_map/examples/data/multi_collection_1.json',
      'icon' => [
        'url' => '/modules/custom/ggl_map/examples/images/marker_red.svg',
      ],
    ],
    [
      'name' => 'multi_map_2',
      'url' => '/modules/custom/ggl_map/examples/data/multi_collection_2.json',
      'icon' => [
        'url' => '/modules/custom/ggl_map/examples/images/marker_blue.svg',
      ],
    ],
  ],</strong>
]
    </pre>
  </div>
  <div id="json1" class="tab-pane fade in">
    <pre>
{
  "items": [
    {
      "id": "marker_1",
      "lat": 50.99574568136265,
      "lng": 5.6941449520433665,
      "popup": {
        "content": "Hoge Kempen National Park"
      }
    },
    {
      "id": "marker_2",
      "lat": 51.188088783477276,
      "lng": 5.337089278375858,
      "popup": {
        "url": "/modules/custom/ggl_map/examples/data/popup_content_marker_2.json"
      }
    },
    {
      "id": "marker_3",
      "lat": 51.08387836189058,
      "lng": 5.296474562160372,
      "popup": {
        "content": "Vallei van de Zwarte Beek"
      }
    }
  ]
}
    </pre>
  </div>
  <div id="json2" class="tab-pane fade in">
    <pre>
{
  "items": [
    {
      "id": "marker_4",
      "lat": 51.070797744008786,
      "lng": 5.561943214664149,
      "popup": {
        "content": "Oudsbergen"
      }
    },
    {
      "id": "marker_5",
      "lat": 51.12688731552615,
      "lng":  5.365680346714945,
      "popup": {
        "content": "Hechtel-Eksel"
      }
    },
    {
      "id": "marker_6",
      "lat": 51.03144499239144,
      "lng":  5.373398685190856,
      "popup": {
        "content": "Houthalen-Helchteren"
      }
    }
  ]
}
    </pre>
  </div>
</div>
<hr>
<div class="ggl-map-example">
  {{ ggl_map }}
</div>
