<ul>
  {% for item in items %}
    <li>
      {% if (requestUri != item.uri) %}
        <a href="{{ item.uri }}">
      {% endif %}
        {{ item.title }}
      {% if (requestUri != item.uri) %}
        </a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
