<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#array">render array</a></li>
</ul>
<div class="tab-content">
  <div id="array" class="tab-pane fade in active">
    <pre>
[
  "#theme" => "ggl_map",
  <strong>'#overrideSettings' => [
    'location' => [
      'enableSearchLocation' => TRUE,
      'enableCurrentLocation' => TRUE,
    ],
  ],</strong>
  '#collection' => [
    [
      'name' => 'single_map',
      'url' => '/modules/custom/ggl_map/examples/data/single_collection.json',
    ],
  ],
]
    </pre>
  </div>
</div>
<hr>
<div class="ggl-map-example">
  {{ ggl_map }}
</div>
