<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#array">render array</a></li>
  <li><a data-toggle="tab" href="#json">single_collection.json</a></li>
</ul>
<div class="tab-content">
  <div id="array" class="tab-pane fade in active">
    <pre>
[
  "#theme" => "ggl_map",
  <strong>'#collection' => [
    [
      'name' => 'single_map',
      'url' => '/modules/custom/ggl_map/examples/data/single_collection.json',
    ],
  ],</strong>
]
    </pre>
  </div>
  <div id="json" class="tab-pane fade in">
    <pre>
{
  "items": [
    {
      "id": "marker_1",
      "lat": 50.99574568136265,
      "lng": 5.6941449520433665,
      "popup": {
        "content": "Hoge Kempen National Park"
      }
    },
    {
      "id": "marker_2",
      "lat": 51.188088783477276,
      "lng": 5.337089278375858,
      "popup": {
        "url": "/modules/custom/ggl_map/examples/data/popup_content_marker_2.json"
      }
    },
    {
      "id": "marker_3",
      "lat": 51.08387836189058,
      "lng": 5.296474562160372,
      "popup": {
        "content": "Vallei van de Zwarte Beek"
      }
    }
  ]
}
    </pre>
  </div>
</div>
<hr>
<div class="ggl-map-example">
  {{ ggl_map }}
</div>
