body {
  font-size: 16px !important;
}

.breadcrumb {
  background-color: transparent;
}

.nav-tabs {
  margin-left: 0;
}

pre {
  border-radius: 0;
  border: none;
  background-color: transparent;
  padding: 1rem;
}

hr {
  height: 0!important;
  border-top: 1px solid #ddd!important;
  background-color: transparent!important;
}
