<div id="ggl_map_container">
  {% if location.enableCurrentLocation or location.enableSearchLocation %}
    <div id="ggl_map_search_location_container">
      <div>
        {% if location.enableSearchLocation %}
          <div id="ggl_map_search_location">
            <input type="text" id="ggl_map_search_location_text" /><a id="ggl_map_search_location_button" href="#">search location</a>
          </div>
        {% endif %}
        {% if location.enableCurrentLocation %}
          <div id="ggl_map_current_location">
            <a id="ggl_map_current_location_button" href="#" >current location</a>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {{ inside_ggl_map }}
  <div id="ggl_map"></div>
</div>
